@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat&display=swap");
@import url("/node_modules/loaders.css/loaders.min.css");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat&display=swap");

:root {
  /* Colors */
  --clr-primary: #ff4b2b;
  --clr-secondary: #5347a0;
  --clr-white: #fff;
  --clr-green: #008000;
  --clr-red: #ff0f0f;
  --clr-dark: #333;
  --clr-grey: #f0f0f0;
  --clr-pink: #ff007f;
  --clr-pink-lighter: #ff416c;
  --clr-purple-lighter: #958ab6;

  /* Fonts */
  --font-main: "Roboto", sans-serif;
  --font-heading: "Raleway", serif;
  --clr-font-heading: var(--clr-pink);

  /* Gradients */
  --gradient-primary: linear-gradient(
    90deg,
    var(--clr-pink),
    var(--clr-primary)
  );
  --gradient-secondary: linear-gradient(
    90deg,
    var(--clr-secondary),
    var(--clr-purple-lighter)
  );
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-main);
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--clr-dark);
}

h1 {
  font-size: 3.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--clr-font-heading);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  font-size: 1.6rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: var(--gradient-secondary);
}

/* NavLinks active class */

.active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
}

/* Loader classes */

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}

/* Media queries for font size scaling */
@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  body,
  input {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  body,
  input {
    font-size: 1.2rem;
  }
}
