@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat&display=swap");
@import url("/node_modules/loaders.css/loaders.min.css");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat&display=swap");

:root {
  /* Color Palette */
  --clr-white: #fff;
  --clr-green: #47817e;
  --clr-red: #ff0f0f;
  --clr-reddish: #ff4563;
  --clr-dark: #333;
  --clr-grey: #f0f0f0;
  --clr-pink: #e6007a;
  --clr-pink-lighter: #ff416c;
  --clr-purple: #5347a0;
  --clr-purple-lighter: #958ab6;

  /* Primary and Secondary Colors */
  --clr-primary: var(--clr-pink);
  --clr-secondary: var(--clr-purple);

  /* Fonts */
  --font-main: "Roboto", sans-serif;
  --font-heading: "Raleway", serif;
  --clr-font-heading: var(--clr-primary);

  /* Gradients */
  --gradient-primary: linear-gradient(
    to right top,
    #e6007a,
    #ed1976,
    #f42873,
    #fa356f,
    #ff416c
  );

  --gradient-secondary: linear-gradient(
    to right top,
    #5347a0,
    #574aa1,
    #5a4da3,
    #5e50a4,
    #6153a5,
    #7353a7,
    #8453a8,
    #9552a8,
    #b64ba2,
    #d44395,
    #ed3e83,
    #ff416c
  );

  /* Logo font */
  --logo-font-clr: var(--clr-primary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-main);
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--clr-dark);
}

h1 {
  font-size: 3.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--clr-font-heading);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  font-size: 1.6rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: var(--gradient-secondary);
}

/* NavLinks active class */

.active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
}

/* Loader classes */

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}

/* Media queries for font size scaling */
@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  body,
  input {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  body,
  input {
    font-size: 1.2rem;
  }
}
